html {
    /* Base styles go here */
    font: 14px/1.5 Arial, sans-serif;
   }
   
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, .menu, .content, footer {
    width: 100%;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: space-around;

}

.menu-left {
    display: flex;
    justify-content: flex-start;
}

.menu-filter {
    display: flex;
    gap: 20px;

}

.content {
    margin-top: 30px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    grid-gap: 30px;
}

#content-books {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.book {
    /* gap: 30px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-bottom: 1px solid #BBBFCA;
}
.book span {

}

.content-status {
    position: absolute;
    left: 65vw;
    width: 20vw;
    height: 45vh;
    background-color: #495464;
    border-radius: 6px;
    /* opacity: 0.3; */
    box-shadow: 10px 10px 12px -4px rgba(110,110,110,0.71);
    margin-left: 50px;
}

.status-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.status-title {
    margin-left: 10px;
}

li {
    list-style: none;
}

footer {
    text-align: center;
    background-color: #E8E8E8;
    margin-top: auto;
    padding: 20px;
}


/* styles for the modal */

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}